@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}





@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway;background-repeat:repeat;background-position:center center; }
#page_5c052a229d637 { padding:0; }
#Header-fxtv03s72f { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22e27ca"] { background:RGBA(206, 22, 29, 1);border:0;border-style:solid; }
[name="Container_5c052a22e27ca"] { width:100%;padding:0; }
[name="Container_5c052a22e29c7"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5c052a22e29c7"] { clear:both; }
#text_5c052a22e2c84 { border:0;border-style:solid;padding-top:10px !important; }
#text_5c052a22e2e55 { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5c052a22e2fa7"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22e2fa7"] { width:100%;padding:0; }
[name="Container_5c052a22e319d"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22e319d"] { padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a22e319d"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[name="Container_5c052a22e319d"] { clear:both; }
#ResponsiveImage-fxtv03s9ss { border:0; }
#ResponsiveImage-fxtv03s9ss > img { border-style:solid; }
#ResponsiveImage-fxtv03s9ss { padding-top:5px !important;padding-bottom:5px !important; }
#ResponsiveImage-fxtv03s9ss  img{ padding:0; }
#ResponsiveImage-fxtv03sa75 { border:0; }
#ResponsiveImage-fxtv03sa75 > img { border-style:solid; }
#ResponsiveImage-fxtv03sa75  img{ padding:0; }
[id="_2262109185_1541693961"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_2262109185_1541693961"] { margin-top:-55px !important; }
 }
@media screen  and (min-width: 768px){ #menu_5c052a22e3a61  ul.navbar-nav{ width:100%;text-align:right; }
#menu_5c052a22e3a61  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5c052a22e3a61  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_183017512_1541693961"]  .menu_item{ width:auto; }
 }
[id="_183017512_1541693961"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_183017512_1541693961"] .navbar { clear:both; }
#menu_5c052a22e3a61  > ul{ width:100%; }
nav[id="_183017512_1541693961"].navbar  .container{ background-image:transparent !important; }
nav[id="_183017512_1541693961"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_183017512_1541693961"] .navbar { position:initial; }
[id="menuitem_5c052a22e3c26"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a22e3c26"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e3c26"]:hover > a.menu_item, [id="menuitem_5c052a22e3c26"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a22e3df2"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a22e3df2"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e3df2"]:hover > a.menu_item, [id="menuitem_5c052a22e3df2"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a22e3fb4"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a22e3fb4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e3fb4"]:hover > a.menu_item, [id="menuitem_5c052a22e3fb4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a22e4177"] a { border-top-right-radius:20px !important;border-top-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e4177"] { margin-top:20px;border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e4177"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e4177"]:hover > a.menu_item, [id="menuitem_5c052a22e4177"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a22e4350"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e4350"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e4350"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e4350"]:hover > a.menu_item, [id="menuitem_5c052a22e4350"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a22e450b"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e450b"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e450b"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e450b"]:hover > a.menu_item, [id="menuitem_5c052a22e450b"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a22e46dd"] a { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e46dd"] { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a22e46dd"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e46dd"]:hover > a.menu_item, [id="menuitem_5c052a22e46dd"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a22e48a4"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a22e48a4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e48a4"]:hover > a.menu_item, [id="menuitem_5c052a22e48a4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a22e4a62"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a22e4a62"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a22e4a62"]:hover > a.menu_item, [id="menuitem_5c052a22e4a62"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="_5889262257_1541693976"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
.menu { id-filho:5406335;id-pai:5406328; }
.menu_item:hover{ id-filho:5406336;id-pai:5406328;color:rgba(163, 24, 0, 1)!important;background-image : linear-gradient(rgba(0, 193, 222, 1),rgba(0, 193, 222, 1)); }
.menu_item.focus{ id-filho:5406337;id-pai:5406328; }
.menu  li + li{ id-filho:5406338;id-pai:5406328; }
.menu_item { id-filho:5406339;id-pai:5406328;color:rgba(89, 89, 89, 1)!important;font-size:17px;text-align:left;padding-left:20px !important;padding-right:20px !important; }
#GridPanel_5c052a22e5b46 { padding:0; }
[name="Container_5c052a22e5d6a"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22e5d6a"] { width:100%;padding:0; }
[id="_904929057_1542914334"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22e61d5"] { background:url("../images/capa-servicos.jpg");background-size:cover;background-attachment:fixed;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a22e61d5"] { width:100%;padding:0; }
[id="_1238663472_1542914335"] { background:rgba(255, 255, 255, 0.49);border:0;border-style:solid;padding-top:150px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [id="_1238663472_1542914335"] { padding-top:150px !important;padding-bottom:100px !important; }
 }
#text_5c052a22e66a1 { border:0;border-style:solid; }
[id="_222120299_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a22e6aab { border:0;border-style:solid; }
[name="Container_5c052a22e725a"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_5c052a22e725a"] { width:100%;padding:0; }
[id="_3383357094_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_3383357094_1542914335"] { padding-top:20px !important;padding-right:10px !important;padding-bottom:20px !important;padding-left:10px !important; }
 }
[id="_4152174944_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important; }
@media screen and (min-width: 992px) { [id="_4152174944_1542914335"] { padding-top:30px !important; }
 }
#text_5c052a22ed43b { border:0;border-style:solid; }
[id="_7782429571_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_7782429571_1542914335"] { padding-bottom:30px !important; }
 }
#text_5c052a22edc61 { border:0;border-style:solid; }
[id="_2164784279_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_2164784279_1542914335"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_5764677229_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a22ee578 { border:0;border-style:solid; }
[id="_1068071801_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:60px !important; }
@media screen and (max-width: 767px) { [id="_1068071801_1542914335"] { padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_1068071801_1542914335"] { padding-left:60px !important; }
 }
#text_5c052a22ef02b { border:0;border-style:solid; }
[id="_2131762788_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_2131762788_1542914335"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_1604368634_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a22ef8f6 { border:0;border-style:solid; }
[id="_1779261232_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:60px !important; }
@media screen and (max-width: 767px) { [id="_1779261232_1542914335"] { padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_1779261232_1542914335"] { padding-left:60px !important; }
 }
#text_5c052a22f03b1 { border:0;border-style:solid; }
#icon_5c052a22f05b0 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
#icon_5c052a22f07c2 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_2554402200_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_2554402200_1542914335"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_5423211886_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a22f106d { border:0;border-style:solid; }
[id="_811712361_1542914335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:60px !important; }
@media screen and (max-width: 767px) { [id="_811712361_1542914335"] { padding-left:0px !important; }
 }
@media screen and (min-width: 992px) { [id="_811712361_1542914335"] { padding-left:60px !important; }
 }
#text_5c052a22f1ada { border:0;border-style:solid; }
#text_5c052a22f1ce1 { border:0;border-style:solid;padding-left:80px !important; }
#text_5c052a22f1f06 { border:0;border-style:solid; }
[id="_5bf8243463f94_1542988852"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22f25e4"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a22f25e4"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a22f25e4"] { margin-bottom:20px !important; }
[name="Container_5c052a22f25e4"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a22f25e4"] { width:100%;padding:0; }
#text_5c052a22f289f { border:0;border-style:solid; }
#text_5c052a22f2cb2 { border:0;border-style:solid; }
#footer_5c052a22f2ee0 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a22f3046"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a22f3046"] { padding-top:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a22f3046"] { padding-top:20px !important;padding-bottom:10px !important; }
 }
[name="Container_5c052a22f3046"] { width:100%;padding:0; }
[id="_1478699059_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:20px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1478699059_1541703995"] { margin-bottom:20px !important; }
 }
#ResponsiveImage-fxtv03torj { border:0; }
#ResponsiveImage-fxtv03torj > img { border-style:solid; }
#ResponsiveImage-fxtv03torj  img{ padding:0; }
[id="_2217923555_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a22f3a5f { border:0;border-style:solid; }
[id="_5be5b804ce63c_1541781508"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_72597012_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a22f401c { border:0;border-style:solid; }
#text_5c052a230016f { border:0;border-style:solid; }
[id="_7214252092_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a230054a { border:0;border-style:solid; }
[id="_5352909127_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2300911 { border:0;border-style:solid; }
#text_5c052a2300adc { border:0;border-style:solid; }
[id="_4424119216_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2300eaf { border:0;border-style:solid; }
[id="_3782013519_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2301270 { border:0;border-style:solid; }
[name="Container_5c052a2301391"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2301391"] { width:100%;padding:0; }
[id="_1456281060_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1456281060_1541704310"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv03uxe4 { border:0; }
#ResponsiveImage-fxtv03uxe4 > img { border-style:solid; }
#ResponsiveImage-fxtv03uxe4  img{ padding:0; }
[id="_2384730058_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2384730058_1541704310"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a2301c35 { border:0;border-style:solid; }
[name="Container_5c052a2301d5c"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2301d5c"] { width:100%;padding:0; }
[id="_947717629_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_947717629_1542840691"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a2302207 { border:0;border-style:solid; }
[id="_1658855635_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1658855635_1542840691"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv03v03b { border:0; }
#ResponsiveImage-fxtv03v03b > img { border-style:solid; }
#ResponsiveImage-fxtv03v03b  img{ padding:0; }

 .center { float:none;margin-left:auto;margin-right:auto; }