@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}






@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway;background-repeat:repeat;background-position:center center; }
#page_5c052a2080b91 { padding:0; }
#Header-fxtv02kmyc { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a20f2561"] { background:RGBA(206, 22, 29, 1);border:0;border-style:solid; }
[name="Container_5c052a20f2561"] { width:100%;padding:0; }
[name="Container_5c052a20f2770"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5c052a20f2770"] { clear:both; }
#text_5c052a20f2a1b { border:0;border-style:solid;padding-top:10px !important; }
#text_5c052a20f2be6 { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5c052a20f2d19"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a20f2d19"] { width:100%;padding:0; }
[name="Container_5c052a20f2f26"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a20f2f26"] { padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a20f2f26"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[name="Container_5c052a20f2f26"] { clear:both; }
#ResponsiveImage-fxtv02kppr { border:0; }
#ResponsiveImage-fxtv02kppr > img { border-style:solid; }
#ResponsiveImage-fxtv02kppr { padding-top:5px !important;padding-bottom:5px !important; }
#ResponsiveImage-fxtv02kppr  img{ padding:0; }
#ResponsiveImage-fxtv02kq3y { border:0; }
#ResponsiveImage-fxtv02kq3y > img { border-style:solid; }
#ResponsiveImage-fxtv02kq3y  img{ padding:0; }
[id="_2262109185_1541693961"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_2262109185_1541693961"] { margin-top:-55px !important; }
 }
@media screen  and (min-width: 768px){ #menu_5c052a20f37f9  ul.navbar-nav{ width:100%;text-align:right; }
#menu_5c052a20f37f9  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5c052a20f37f9  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_183017512_1541693961"]  .menu_item{ width:auto; }
 }
[id="_183017512_1541693961"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_183017512_1541693961"] .navbar { clear:both; }
#menu_5c052a20f37f9  > ul{ width:100%; }
nav[id="_183017512_1541693961"].navbar  .container{ background-image:transparent !important; }
nav[id="_183017512_1541693961"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_183017512_1541693961"] .navbar { position:initial; }
[id="menuitem_5c052a20f39e1"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a20f39e1"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a20f39e1"]:hover > a.menu_item, [id="menuitem_5c052a20f39e1"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a20f3bd6"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a20f3bd6"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a20f3bd6"]:hover > a.menu_item, [id="menuitem_5c052a20f3bd6"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a20f3dbd"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a20f3dbd"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a20f3dbd"]:hover > a.menu_item, [id="menuitem_5c052a20f3dbd"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a20f3fa3"] a { border-top-right-radius:20px !important;border-top-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a20f3fa3"] { margin-top:20px;border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a20f3fa3"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a20f3fa3"]:hover > a.menu_item, [id="menuitem_5c052a20f3fa3"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a20f4183"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a20f4183"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a20f4183"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a20f4183"]:hover > a.menu_item, [id="menuitem_5c052a20f4183"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2100120"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2100120"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2100120"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2100120"]:hover > a.menu_item, [id="menuitem_5c052a2100120"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2100303"] a { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2100303"] { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2100303"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2100303"]:hover > a.menu_item, [id="menuitem_5c052a2100303"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21004ca"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21004ca"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21004ca"]:hover > a.menu_item, [id="menuitem_5c052a21004ca"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2100690"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2100690"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2100690"]:hover > a.menu_item, [id="menuitem_5c052a2100690"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="_5889262257_1541693976"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
.menu { id-filho:5406335;id-pai:5406328; }
.menu_item:hover{ id-filho:5406336;id-pai:5406328;color:rgba(163, 24, 0, 1)!important;background-image : linear-gradient(rgba(0, 193, 222, 1),rgba(0, 193, 222, 1)); }
.menu_item.focus{ id-filho:5406337;id-pai:5406328; }
.menu  li + li{ id-filho:5406338;id-pai:5406328; }
.menu_item { id-filho:5406339;id-pai:5406328;color:rgba(89, 89, 89, 1)!important;font-size:17px;text-align:left;padding-left:20px !important;padding-right:20px !important; }
#GridPanel_5c052a2101772 { padding:0; }
[name="Container_5c052a21019b8"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21019b8"] { width:100%;padding:0; }
[id="_514474715_1541775882"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2101de3"] { background:url("../images/capa-clientes.jpg");background-size:cover;background-attachment:fixed;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a2101de3"] { width:100%;padding:0; }
[id="_1770434647_1541775882"] { background:RGBA(255, 255, 255, 0.7);border:0;border-style:solid;padding-top:150px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [id="_1770434647_1541775882"] { padding-top:150px !important;padding-bottom:100px !important; }
 }
#text_5c052a21022c0 { border:0;border-style:solid; }
[id="_863639810_1541775882"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2102de4 { border:0;border-style:solid; }
[name="Container_5c052a2102f24"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2102f24"] { padding-top:20px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2102f24"] { padding-top:20px !important;padding-bottom:30px !important; }
 }
[name="Container_5c052a2102f24"] { width:100%;padding:0; }
[id="_2701481521_1541776916"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2701481521_1541776916"] { padding-top:30px !important;padding-bottom:10px !important; }
 }
#text_5c052a21033f2 { border:0;border-style:solid; }
[id="_5be5a3c3d1678_1541776323"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#carousel_5c052a2103c90 { background-color:transparent !important;background-size:cover;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2103eaf { border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#text_5c052a21040a9 { border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#text_5c052a210429f { border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#text_5c052a21044af { border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#text_5c052a21046cf { border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[name="Container_5c052a2104830"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2104830"] { width:100%;padding:0; }
[id="_4837201772_1541778536"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_5be5a5fc36e9f_1541776892"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_5be5a5fc36e9f_1541776892"] { padding-bottom:30px !important; }
 }
[id="_2442012492_1541777461"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-right-width:0px ;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2442012492_1541777461"] { border-right-width:0px  !important; }
[id="_2442012492_1541777461"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_709204032_1541777550"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_709204032_1541777550"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mcll { border:0; }
#ResponsiveImage-fxtv02mcll { border-style:solid; }
#ResponsiveImage-fxtv02mcll { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_117627708_1541777572"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_117627708_1541777572"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210605d { border:0;border-style:solid; }
[id="_8000707780_1541777869"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-right-width:0px ;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_8000707780_1541777869"] { border-right-width:0px  !important; }
[id="_8000707780_1541777869"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_161462218_1541777869"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_161462218_1541777869"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mf3h { border:0; }
#ResponsiveImage-fxtv02mf3h { border-style:solid; }
#ResponsiveImage-fxtv02mf3h { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#parent_ResponsiveImage-fxtv02mf3h  > .hint{ position:absolute;width:100%;height:100%;top:0px;left:0; }
#text_5c052a2106acc { border:0;border-style:solid;padding-top:40px !important; }
#text_5c052a2106ca8 { border:0;border-style:solid;padding-top:20px !important; }
[id="_1140876791_1541777869"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1140876791_1541777869"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a21070a3 { border:0;border-style:solid; }
[id="_1098590627_1541777954"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1098590627_1541777954"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_394179502_1541777954"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_394179502_1541777954"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02midt { border:0; }
#ResponsiveImage-fxtv02midt { border-style:solid; }
#ResponsiveImage-fxtv02midt { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_7313820899_1541777954"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_7313820899_1541777954"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a2107dde { border:0;border-style:solid; }
[id="_1226074562_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_1226074562_1541778025"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[id="_563735783_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_563735783_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_6533651116_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_6533651116_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mlek { border:0; }
#ResponsiveImage-fxtv02mlek { border-style:solid; }
#ResponsiveImage-fxtv02mlek { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
#parent_ResponsiveImage-fxtv02mlek  > .hint{ position:absolute;width:100%;height:100%;top:0px;left:0; }
#text_5c052a2108aa4 { border:0;border-style:solid;padding-top:40px !important; }
#text_5c052a2108c80 { border:0;border-style:solid;padding-top:20px !important; }
[id="_271682524_1541778025"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_271682524_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a21090c0 { border:0;border-style:solid; }
[id="_8588150816_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_8588150816_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_577557959_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_577557959_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mop1 { border:0; }
#ResponsiveImage-fxtv02mop1 { border-style:solid; }
#ResponsiveImage-fxtv02mop1 { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_1869161333_1541778025"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1869161333_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a2109d69 { border:0;border-style:solid; }
[id="_2700380489_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2700380489_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_42964239_1541778025"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_42964239_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mr5v { border:0; }
#ResponsiveImage-fxtv02mr5v { border-style:solid; }
#ResponsiveImage-fxtv02mr5v { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_4250799814_1541778025"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_4250799814_1541778025"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210a9d7 { border:0;border-style:solid; }
[id="_1885251104_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_1885251104_1541778169"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[id="_3501021119_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_3501021119_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_2485203481_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2485203481_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mu35 { border:0; }
#ResponsiveImage-fxtv02mu35 { border-style:solid; }
#ResponsiveImage-fxtv02mu35 { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_11122500_1541778169"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_11122500_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210b8ce { border:0;border-style:solid; }
[id="_5570917137_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_5570917137_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_931883182_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_931883182_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mwl1 { border:0; }
#ResponsiveImage-fxtv02mwl1 { border-style:solid; }
#ResponsiveImage-fxtv02mwl1 { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_216279368_1541778169"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_216279368_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210c5e5 { border:0;border-style:solid; }
[id="_5183018623_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_5183018623_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_110806444_1541778169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_110806444_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02mz73 { border:0; }
#ResponsiveImage-fxtv02mz73 { border-style:solid; }
#ResponsiveImage-fxtv02mz73 { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_1651857957_1541778169"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1651857957_1541778169"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210d29c { border:0;border-style:solid; }
[id="_427633304_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_427633304_1541778335"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[id="_648539580_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_648539580_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_2962711476_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2962711476_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02n290 { border:0; }
#ResponsiveImage-fxtv02n290 { border-style:solid; }
#ResponsiveImage-fxtv02n290 { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_2096805982_1541778335"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2096805982_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210e212 { border:0;border-style:solid; }
[id="_390658590_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_390658590_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_1197738221_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1197738221_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02n4tn { border:0; }
#ResponsiveImage-fxtv02n4tn { border-style:solid; }
#ResponsiveImage-fxtv02n4tn { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_2323956889_1541778335"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2323956889_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210ef43 { border:0;border-style:solid; }
[id="_1616637789_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1616637789_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
[id="_1790875794_1541778335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1790875794_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-fxtv02n7bq { border:0; }
#ResponsiveImage-fxtv02n7bq { border-style:solid; }
#ResponsiveImage-fxtv02n7bq { padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
[id="_32767274_1541778335"] { background:RGBA(245, 245, 245, 1);border:0;border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_32767274_1541778335"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#text_5c052a210fc03 { border:0;border-style:solid; }
#footer_5c052a211541a { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2115540"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a2115540"] { padding-top:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2115540"] { padding-top:20px !important;padding-bottom:10px !important; }
 }
[name="Container_5c052a2115540"] { width:100%;padding:0; }
[id="_1478699059_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:20px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1478699059_1541703995"] { margin-bottom:20px !important; }
 }
#ResponsiveImage-fxtv02nqsc { border:0; }
#ResponsiveImage-fxtv02nqsc > img { border-style:solid; }
#ResponsiveImage-fxtv02nqsc  img{ padding:0; }
[id="_2217923555_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2115e30 { border:0;border-style:solid; }
[id="_5be5b804ce63c_1541781508"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_72597012_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2116408 { border:0;border-style:solid; }
#text_5c052a21167af { border:0;border-style:solid; }
[id="_7214252092_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2116b93 { border:0;border-style:solid; }
[id="_5352909127_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2116f6a { border:0;border-style:solid; }
#text_5c052a211712d { border:0;border-style:solid; }
[id="_4424119216_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2117500 { border:0;border-style:solid; }
[id="_3782013519_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a21178b7 { border:0;border-style:solid; }
[name="Container_5c052a2117a00"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2117a00"] { width:100%;padding:0; }
[id="_1456281060_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1456281060_1541704310"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv02ny25 { border:0; }
#ResponsiveImage-fxtv02ny25 > img { border-style:solid; }
#ResponsiveImage-fxtv02ny25  img{ padding:0; }
[id="_2384730058_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2384730058_1541704310"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a21182e5 { border:0;border-style:solid; }
[name="Container_5c052a211841c"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a211841c"] { width:100%;padding:0; }
[id="_947717629_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_947717629_1542840691"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a21188bc { border:0;border-style:solid; }
[id="_1658855635_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1658855635_1542840691"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv02o0rp { border:0; }
#ResponsiveImage-fxtv02o0rp > img { border-style:solid; }
#ResponsiveImage-fxtv02o0rp  img{ padding:0; }

 .center { float:none;margin-left:auto;margin-right:auto; }
/*
     FILE ARCHIVED ON 15:06:33 Dec 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:07:09 May 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.844
  exclusion.robots: 0.043
  exclusion.robots.policy: 0.027
  esindex: 0.014
  cdx.remote: 8.197
  LoadShardBlock: 293.54 (3)
  PetaboxLoader3.datanode: 168.375 (4)
  PetaboxLoader3.resolve: 321.481 (2)
  load_resource: 278.721
*/