@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}




@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway;background-repeat:repeat;background-position:center center; }
#page_5c052a2198b50 { padding:0; }
#Header-fxtv033xm4 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21ce1e0"] { background:RGBA(206, 22, 29, 1);border:0;border-style:solid; }
[name="Container_5c052a21ce1e0"] { width:100%;padding:0; }
[name="Container_5c052a21ce3fd"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5c052a21ce3fd"] { clear:both; }
#text_5c052a21ce6c6 { border:0;border-style:solid;padding-top:10px !important; }
#text_5c052a21ce8bb { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5c052a21ce9d3"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21ce9d3"] { width:100%;padding:0; }
[name="Container_5c052a21cec00"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21cec00"] { padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a21cec00"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[name="Container_5c052a21cec00"] { clear:both; }
#ResponsiveImage-fxtv0340ev { border:0; }
#ResponsiveImage-fxtv0340ev > img { border-style:solid; }
#ResponsiveImage-fxtv0340ev { padding-top:5px !important;padding-bottom:5px !important; }
#ResponsiveImage-fxtv0340ev  img{ padding:0; }
#ResponsiveImage-fxtv0340sw { border:0; }
#ResponsiveImage-fxtv0340sw > img { border-style:solid; }
#ResponsiveImage-fxtv0340sw  img{ padding:0; }
[id="_2262109185_1541693961"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_2262109185_1541693961"] { margin-top:-55px !important; }
 }
@media screen  and (min-width: 768px){ #menu_5c052a21cf52e  ul.navbar-nav{ width:100%;text-align:right; }
#menu_5c052a21cf52e  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5c052a21cf52e  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_183017512_1541693961"]  .menu_item{ width:auto; }
 }
[id="_183017512_1541693961"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_183017512_1541693961"] .navbar { clear:both; }
#menu_5c052a21cf52e  > ul{ width:100%; }
nav[id="_183017512_1541693961"].navbar  .container{ background-image:transparent !important; }
nav[id="_183017512_1541693961"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_183017512_1541693961"] .navbar { position:initial; }
[id="menuitem_5c052a21cf6fd"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21cf6fd"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cf6fd"]:hover > a.menu_item, [id="menuitem_5c052a21cf6fd"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a21cf8a8"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21cf8a8"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cf8a8"]:hover > a.menu_item, [id="menuitem_5c052a21cf8a8"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a21cfa67"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21cfa67"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cfa67"]:hover > a.menu_item, [id="menuitem_5c052a21cfa67"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21cfc33"] a { border-top-right-radius:20px !important;border-top-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cfc33"] { margin-top:20px;border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cfc33"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cfc33"]:hover > a.menu_item, [id="menuitem_5c052a21cfc33"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21cfe0c"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cfe0c"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cfe0c"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cfe0c"]:hover > a.menu_item, [id="menuitem_5c052a21cfe0c"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21cffc7"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cffc7"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21cffc7"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21cffc7"]:hover > a.menu_item, [id="menuitem_5c052a21cffc7"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21d01a4"] a { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21d01a4"] { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a21d01a4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21d01a4"]:hover > a.menu_item, [id="menuitem_5c052a21d01a4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21d0378"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21d0378"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21d0378"]:hover > a.menu_item, [id="menuitem_5c052a21d0378"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a21d053a"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a21d053a"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a21d053a"]:hover > a.menu_item, [id="menuitem_5c052a21d053a"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="_5889262257_1541693976"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
.menu { id-filho:5406335;id-pai:5406328; }
.menu_item:hover{ id-filho:5406336;id-pai:5406328;color:rgba(163, 24, 0, 1)!important;background-image : linear-gradient(rgba(0, 193, 222, 1),rgba(0, 193, 222, 1)); }
.menu_item.focus{ id-filho:5406337;id-pai:5406328; }
.menu  li + li{ id-filho:5406338;id-pai:5406328; }
.menu_item { id-filho:5406339;id-pai:5406328;color:rgba(89, 89, 89, 1)!important;font-size:17px;text-align:left;padding-left:20px !important;padding-right:20px !important; }
#GridPanel_5c052a21d14ad { padding:0; }
[name="Container_5c052a21d16b1"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21d16b1"] { width:100%;padding:0; }
[id="_4400661511_1541778676"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21d1ad2"] { background:url("../images/capa-contato.jpg");background-size:cover;background-attachment:fixed;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a21d1ad2"] { width:100%;padding:0; }
[id="_202872577_1541778676"] { background:RGBA(255, 255, 255, 0.8);border:0;border-style:solid;padding-top:150px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [id="_202872577_1541778676"] { padding-top:150px !important;padding-bottom:100px !important; }
 }
#text_5c052a21d1fed { border:0;border-style:solid; }
[id="_4362447922_1541778676"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a21d2a19 { border:0;border-style:solid; }
[name="Container_5c052a21d2b41"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21d2b41"] { padding-top:20px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a21d2b41"] { padding-top:20px !important;padding-bottom:100px !important; }
 }
[name="Container_5c052a21d2b41"] { width:100%;padding:0; }
[id="_1800308112_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:50px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1800308112_1541779045"] { margin-top:50px !important; }
 }
#text_5c052a21d3033 { border:0;border-style:solid; }
[id="_834640786_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:50px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_834640786_1541779045"] { margin-top:50px !important; }
 }
[id="_2920617959_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2980019810_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fxtv034f0a { border:0; }
#ResponsiveImage-fxtv034f0a { border-style:solid; }
#ResponsiveImage-fxtv034f0a { padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
#text_5c052a21d3b00 { border:0;border-style:solid; }
#text_5c052a21d3d0a { border:0;border-style:solid; }
[id="_6211205615_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_5026689437_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fxtv034h4u { border:0; }
#ResponsiveImage-fxtv034h4u { border-style:solid; }
#ResponsiveImage-fxtv034h4u { padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
#text_5c052a21d45b3 { border:0;border-style:solid; }
#text_5c052a21d4784 { border:0;border-style:solid; }
[id="_5bf839855bb15_1542994309"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;height:20px; }
[id="_723975347_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3294036560_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fxtv034jiq { border:0; }
#ResponsiveImage-fxtv034jiq { border-style:solid; }
#ResponsiveImage-fxtv034jiq { padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
#text_5c052a21d519f { border:0;border-style:solid;padding-top:10px !important; }
[id="_2862038065_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1020775499_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-fxtv034l7u { border:0; }
#ResponsiveImage-fxtv034l7u { border-style:solid; }
#ResponsiveImage-fxtv034l7u { padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
#text_5c052a21d5a5c { border:0;border-style:solid; }
#text_5c052a21d5c27 { border:0;border-style:solid; }
[id="_200379051_1541779045"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:50px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_200379051_1541779045"] { margin-top:50px !important; }
 }
#text_5c052a21d5ffa { border:0;border-style:solid; }
[name="StaticForm_5c052a21d6389"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="Input-fxtv034ob5"] { background:rgba(255, 255, 255, 1);color:RGBA(85, 85, 85, 1)!important;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:RGBA(85, 85, 85, 1);border-style:solid; }
[id="form_group-Input-fxtv034ob5"] { margin-bottom:15px; }
[id="Input-fxtv034opu"] { background:rgba(255, 255, 255, 1);color:rgba(85, 85, 85, 1)!important;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:RGBA(85, 85, 85, 1);border-style:solid; }
[id="form_group-Input-fxtv034opu"] { margin-bottom:15px; }
[id="Input-fxtv034p4j"] { background:rgba(255, 255, 255, 1);color:rgba(85, 85, 85, 1)!important;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:RGBA(85, 85, 85, 1);border-style:solid; }
[id="form_group-Input-fxtv034p4j"] { margin-bottom:15px; }
[id="TextArea-fxtv034prq"] { background:rgba(255, 255, 255, 1);color:rgba(85, 85, 85, 1)!important;resize:vertical;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(85, 85, 85, 1);border-style:solid; }
[id="form_group-TextArea-fxtv034prq"] { margin-bottom:15px; }
[id="_5bfee130d1900_1543430448"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 575px) { #rc-imageselect, .g-recaptcha { transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0; }
 }
#icon_5c052a21d77dd { border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-style:solid;padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-top:20px;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(255, 255, 255, 1)!important;background-color:rgba(206, 22, 29, 1);font-size:14px; }
[id="_5bfbd4e518a73_1543230693"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1619519089_1542913335"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:50px;border-style:solid;height:310px; }
@media screen and (min-width: 992px) { [id="_1619519089_1542913335"] { margin-top:50px !important; }
 }
#footer_5c052a21d80ba { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a21d81e3"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a21d81e3"] { padding-top:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a21d81e3"] { padding-top:20px !important;padding-bottom:10px !important; }
 }
[name="Container_5c052a21d81e3"] { width:100%;padding:0; }
[id="_1478699059_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:20px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1478699059_1541703995"] { margin-bottom:20px !important; }
 }
#ResponsiveImage-fxtv034ufe { border:0; }
#ResponsiveImage-fxtv034ufe > img { border-style:solid; }
#ResponsiveImage-fxtv034ufe  img{ padding:0; }
[id="_2217923555_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a21d8ae0 { border:0;border-style:solid; }
[id="_5be5b804ce63c_1541781508"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_72597012_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a21d90e4 { border:0;border-style:solid; }
#text_5c052a21d946b { border:0;border-style:solid; }
[id="_7214252092_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a21d9848 { border:0;border-style:solid; }
[id="_5352909127_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a21d9c23 { border:0;border-style:solid; }
#text_5c052a21d9de8 { border:0;border-style:solid; }
[id="_4424119216_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a21da1d8 { border:0;border-style:solid; }
[id="_3782013519_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a21da5e3 { border:0;border-style:solid; }
[name="Container_5c052a21da6f4"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a21da6f4"] { width:100%;padding:0; }
[id="_1456281060_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1456281060_1541704310"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv0351oo { border:0; }
#ResponsiveImage-fxtv0351oo > img { border-style:solid; }
#ResponsiveImage-fxtv0351oo  img{ padding:0; }
[id="_2384730058_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2384730058_1541704310"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a21daf3f { border:0;border-style:solid; }
[name="Container_5c052a21db04f"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a21db04f"] { width:100%;padding:0; }
[id="_947717629_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_947717629_1542840691"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a21db4ca { border:0;border-style:solid; }
[id="_1658855635_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1658855635_1542840691"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv03548t { border:0; }
#ResponsiveImage-fxtv03548t > img { border-style:solid; }
#ResponsiveImage-fxtv03548t  img{ padding:0; }

 .center { float:none;margin-left:auto;margin-right:auto; }
/*
     FILE ARCHIVED ON 15:07:01 Dec 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:52:15 May 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.775
  exclusion.robots: 0.039
  exclusion.robots.policy: 0.024
  esindex: 0.012
  cdx.remote: 9.843
  LoadShardBlock: 94.71 (3)
  PetaboxLoader3.datanode: 69.867 (4)
  PetaboxLoader3.resolve: 82.188 (2)
  load_resource: 71.352
*/