@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}





@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway;background-repeat:repeat;background-position:center center; }
#page_5c052a23a84e5 { padding:0; }
#Header-fxtv04k5lk { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2420fa6"] { background:RGBA(206, 22, 29, 1);border:0;border-style:solid; }
[name="Container_5c052a2420fa6"] { width:100%;padding:0; }
[name="Container_5c052a24211f2"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5c052a24211f2"] { clear:both; }
#text_5c052a24214b9 { border:0;border-style:solid;padding-top:10px !important; }
#text_5c052a24216b7 { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5c052a242180f"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a242180f"] { width:100%;padding:0; }
[name="Container_5c052a2421a3f"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2421a3f"] { padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2421a3f"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[name="Container_5c052a2421a3f"] { clear:both; }
#ResponsiveImage-fxtv04k8m2 { border:0; }
#ResponsiveImage-fxtv04k8m2 > img { border-style:solid; }
#ResponsiveImage-fxtv04k8m2 { padding-top:5px !important;padding-bottom:5px !important; }
#ResponsiveImage-fxtv04k8m2  img{ padding:0; }
#ResponsiveImage-fxtv04k92a { border:0; }
#ResponsiveImage-fxtv04k92a > img { border-style:solid; }
#ResponsiveImage-fxtv04k92a  img{ padding:0; }
[id="_2262109185_1541693961"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_2262109185_1541693961"] { margin-top:-55px !important; }
 }
@media screen  and (min-width: 768px){ #menu_5c052a242240e  ul.navbar-nav{ width:100%;text-align:right; }
#menu_5c052a242240e  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5c052a242240e  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_183017512_1541693961"]  .menu_item{ width:auto; }
 }
[id="_183017512_1541693961"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_183017512_1541693961"] .navbar { clear:both; }
#menu_5c052a242240e  > ul{ width:100%; }
nav[id="_183017512_1541693961"].navbar  .container{ background-image:transparent !important; }
nav[id="_183017512_1541693961"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_183017512_1541693961"] .navbar { position:initial; }
[id="menuitem_5c052a2422607"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2422607"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2422607"]:hover > a.menu_item, [id="menuitem_5c052a2422607"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a24227f9"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a24227f9"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a24227f9"]:hover > a.menu_item, [id="menuitem_5c052a24227f9"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a2422a04"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2422a04"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2422a04"]:hover > a.menu_item, [id="menuitem_5c052a2422a04"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2422bf4"] a { border-top-right-radius:20px !important;border-top-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422bf4"] { margin-top:20px;border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422bf4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2422bf4"]:hover > a.menu_item, [id="menuitem_5c052a2422bf4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2422de9"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422de9"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422de9"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2422de9"]:hover > a.menu_item, [id="menuitem_5c052a2422de9"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2422fda"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422fda"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2422fda"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2422fda"]:hover > a.menu_item, [id="menuitem_5c052a2422fda"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a24231c4"] a { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a24231c4"] { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a24231c4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a24231c4"]:hover > a.menu_item, [id="menuitem_5c052a24231c4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a24233b0"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a24233b0"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a24233b0"]:hover > a.menu_item, [id="menuitem_5c052a24233b0"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a24235b4"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a24235b4"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a24235b4"]:hover > a.menu_item, [id="menuitem_5c052a24235b4"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="_5889262257_1541693976"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
.menu { id-filho:5406335;id-pai:5406328; }
.menu_item:hover{ id-filho:5406336;id-pai:5406328;color:rgba(163, 24, 0, 1)!important;background-image : linear-gradient(rgba(0, 193, 222, 1),rgba(0, 193, 222, 1)); }
.menu_item.focus{ id-filho:5406337;id-pai:5406328; }
.menu  li + li{ id-filho:5406338;id-pai:5406328; }
.menu_item { id-filho:5406339;id-pai:5406328;color:rgba(89, 89, 89, 1)!important;font-size:17px;text-align:left;padding-left:20px !important;padding-right:20px !important; }
#GridPanel_5c052a24248ac { padding:0; }
[name="Container_5c052a2424af9"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2424af9"] { width:100%;padding:0; }
[id="_3693575488_1542986051"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2424fbf"] { background:url("../images/capa-servicos.jpg");background-size:cover;background-attachment:fixed;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a2424fbf"] { width:100%;padding:0; }
[id="_277416755_1542986051"] { background:rgba(255, 255, 255, 0.49);border:0;border-style:solid;padding-top:150px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [id="_277416755_1542986051"] { padding-top:150px !important;padding-bottom:100px !important; }
 }
#text_5c052a24254e0 { border:0;border-style:solid; }
[id="_2071285267_1542986051"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2425945 { border:0;border-style:solid; }
[name="Container_5c052a2425f93"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_5c052a2425f93"] { width:100%;padding:0; }
[id="_1511372650_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_1511372650_1542986169"] { padding-top:20px !important;padding-right:10px !important;padding-bottom:20px !important;padding-left:10px !important; }
 }
[id="_834150334_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_834150334_1542986169"] { padding-top:30px !important;padding-bottom:50px !important; }
 }
#text_5c052a242c301 { border:0;border-style:solid; }
[id="_236905696_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:50px;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:80px !important; }
@media screen and (min-width: 992px) { [id="_236905696_1542986169"] { margin-bottom:50px !important; }
[id="_236905696_1542986169"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:80px !important;padding-left:10px !important; }
 }
[id="_3324680146_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a242cdea { border:0;border-style:solid; }
[id="_4084732683_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a242d8e0 { border:0;border-style:solid;padding-left:60px !important; }
#text_5c052a242dad6 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a242dcd4 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a242decb { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a242e0c1 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a242e2c0 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a242e4bd { border:0;border-style:solid;padding-left:160px !important; }
[id="_2663686915_1543490341"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a242e90c { border:0;border-style:solid; }
#text_5c052a242eb10 { border:0;border-style:solid; }
#text_5c052a242ed12 { border:0;border-style:solid; }
#text_5c052a242ef0a { border:0;border-style:solid; }
#text_5c052a242f10d { border:0;border-style:solid; }
#text_5c052a242f310 { border:0;border-style:solid; }
#text_5c052a242f515 { border:0;border-style:solid; }
#icon_5c052a242f715 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_8811873_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:90px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_8811873_1542986169"] { padding-top:90px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_180357866_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a242fda2 { border:0;border-style:solid; }
[id="_861201463_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2430885 { border:0;border-style:solid;padding-left:60px !important; }
#text_5c052a2430a80 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2430c84 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2430e86 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_1495630037_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1495630037_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a24312d0 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a24314d3 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_6492516505_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_6492516505_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a2431909 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2431b07 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_257836204_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_257836204_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a2431f54 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a243214a { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2432352 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_37350077_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_37350077_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a243279c { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a243299d { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_3607816557_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_3607816557_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a2432de9 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2433007 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a24331d8 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a24333de { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_1699274814_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1699274814_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a2433827 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2433a2a { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_22349932_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_22349932_1542986169"] { margin-top:30px !important; }
 }
#text_5c052a2433e61 { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2434066 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_1101125704_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_1101125704_1542986169"] { padding-top:20px !important;padding-bottom:50px !important; }
 }
#text_5c052a24344a6 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a24346ad { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a24348ac { border:0;border-style:solid;padding-left:120px !important; }
#icon_5c052a2434ab7 { padding-top:6px !important;padding-right:12px !important;padding-left:120px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_187100860_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:90px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_187100860_1543493073"] { padding-top:90px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_236832053_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2435145 { border:0;border-style:solid; }
[id="_786822872_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2435c1c { border:0;border-style:solid; }
#text_5c052a2435e1c { border:0;border-style:solid; }
#text_5c052a2436019 { border:0;border-style:solid; }
#icon_5c052a2436237 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_5784485874_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_5784485874_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2436688 { border:0;border-style:solid; }
#icon_5c052a2436896 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_4024058841_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_4024058841_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2436ce2 { border:0;border-style:solid; }
#icon_5c052a2436ee6 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_2346905793_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_2346905793_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2437325 { border:0;border-style:solid; }
#text_5c052a2437532 { border:0;border-style:solid; }
#icon_5c052a24377b6 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_1872224334_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1872224334_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2437c07 { border:0;border-style:solid; }
#icon_5c052a2437e09 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_2108389384_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_2108389384_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2438247 { border:0;border-style:solid; }
#text_5c052a243843d { border:0;border-style:solid; }
#text_5c052a243864c { border:0;border-style:solid; }
#icon_5c052a2438848 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_5365894_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_5365894_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a2438c87 { border:0;border-style:solid; }
#icon_5c052a2438e89 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_216575583_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:30px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_216575583_1543493073"] { margin-top:30px !important; }
 }
#text_5c052a24392df { border:0;border-style:solid; }
#icon_5c052a24394fa { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_680232543_1543493073"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-bottom:50px !important; }
@media screen and (min-width: 992px) { [id="_680232543_1543493073"] { padding-top:20px !important;padding-bottom:50px !important; }
 }
#text_5c052a2439958 { border:0;border-style:solid; }
#text_5c052a2439b94 { border:0;border-style:solid; }
#text_5c052a2439db2 { border:0;border-style:solid; }
#icon_5c052a2439fd5 { padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(0, 0, 255, 1)!important;background-color:rgba(207, 20, 27, 0);font-size:14px; }
[id="_583480954_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:90px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_583480954_1542986169"] { padding-top:90px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_5166809250_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a243a6c5 { border:0;border-style:solid; }
[id="_556044566_1542986169"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a243b224 { border:0;border-style:solid; }
#text_5c052a243b43e { border:0;border-style:solid; }
[id="_4237614128_1542989078"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a243bc2c"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243bc2c"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243bc2c"] { margin-bottom:20px !important; }
[name="Container_5c052a243bc2c"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243bc2c"] { width:100%;padding:0; }
#text_5c052a243bf1f { border:0;border-style:solid; }
#text_5c052a243c37a { border:0;border-style:solid; }
[name="Container_5c052a243c6eb"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243c6eb"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243c6eb"] { margin-bottom:20px !important; }
[name="Container_5c052a243c6eb"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243c6eb"] { width:100%;padding:0; }
#text_5c052a243c9de { border:0;border-style:solid; }
#text_5c052a243ce3f { border:0;border-style:solid; }
[name="Container_5c052a243d19d"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243d19d"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243d19d"] { margin-bottom:20px !important; }
[name="Container_5c052a243d19d"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243d19d"] { width:100%;padding:0; }
#text_5c052a243d485 { border:0;border-style:solid; }
#text_5c052a243d8d2 { border:0;border-style:solid; }
[name="Container_5c052a243dc31"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243dc31"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243dc31"] { margin-bottom:20px !important; }
[name="Container_5c052a243dc31"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243dc31"] { width:100%;padding:0; }
#text_5c052a243df17 { border:0;border-style:solid; }
#text_5c052a243e366 { border:0;border-style:solid; }
[name="Container_5c052a243e6c6"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243e6c6"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243e6c6"] { margin-bottom:20px !important; }
[name="Container_5c052a243e6c6"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243e6c6"] { width:100%;padding:0; }
#text_5c052a243e9ae { border:0;border-style:solid; }
#text_5c052a243edec { border:0;border-style:solid; }
[name="Container_5c052a243f14b"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243f14b"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243f14b"] { margin-bottom:20px !important; }
[name="Container_5c052a243f14b"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243f14b"] { width:100%;padding:0; }
#text_5c052a243f43a { border:0;border-style:solid; }
#text_5c052a243f87f { border:0;border-style:solid; }
[name="Container_5c052a243fbe9"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a243fbe9"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a243fbe9"] { margin-bottom:20px !important; }
[name="Container_5c052a243fbe9"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a243fbe9"] { width:100%;padding:0; }
#text_5c052a243fed8 { border:0;border-style:solid; }
#text_5c052a2440325 { border:0;border-style:solid; }
[name="Container_5c052a244068b"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a244068b"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a244068b"] { margin-bottom:20px !important; }
[name="Container_5c052a244068b"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a244068b"] { width:100%;padding:0; }
#text_5c052a2440973 { border:0;border-style:solid; }
#text_5c052a2440db1 { border:0;border-style:solid; }
[name="Container_5c052a244110d"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a244110d"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a244110d"] { margin-bottom:20px !important; }
[name="Container_5c052a244110d"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a244110d"] { width:100%;padding:0; }
#text_5c052a24413fa { border:0;border-style:solid; }
#text_5c052a2441841 { border:0;border-style:solid; }
[name="Container_5c052a2441ba9"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;margin-bottom:20px;border-style:solid; }
[name="Container_5c052a2441ba9"] { padding-top:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2441ba9"] { margin-bottom:20px !important; }
[name="Container_5c052a2441ba9"] { padding-top:20px !important;padding-bottom:20px !important; }
 }
[name="Container_5c052a2441ba9"] { width:100%;padding:0; }
#text_5c052a2441e98 { border:0;border-style:solid; }
#text_5c052a24422e3 { border:0;border-style:solid; }
#footer_5c052a24424fa { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2442640"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a2442640"] { padding-top:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2442640"] { padding-top:20px !important;padding-bottom:10px !important; }
 }
[name="Container_5c052a2442640"] { width:100%;padding:0; }
[id="_1478699059_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:20px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1478699059_1541703995"] { margin-bottom:20px !important; }
 }
#ResponsiveImage-fxtv04n4i5 { border:0; }
#ResponsiveImage-fxtv04n4i5 > img { border-style:solid; }
#ResponsiveImage-fxtv04n4i5  img{ padding:0; }
[id="_2217923555_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2442f8b { border:0;border-style:solid; }
[id="_5be5b804ce63c_1541781508"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_72597012_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a24435ea { border:0;border-style:solid; }
#text_5c052a24439db { border:0;border-style:solid; }
[id="_7214252092_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2443e2f { border:0;border-style:solid; }
[id="_5352909127_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2444265 { border:0;border-style:solid; }
#text_5c052a2444493 { border:0;border-style:solid; }
[id="_4424119216_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a24448f8 { border:0;border-style:solid; }
[id="_3782013519_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2444d6d { border:0;border-style:solid; }
[name="Container_5c052a2444eec"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2444eec"] { width:100%;padding:0; }
[id="_1456281060_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1456281060_1541704310"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv04ncm6 { border:0; }
#ResponsiveImage-fxtv04ncm6 > img { border-style:solid; }
#ResponsiveImage-fxtv04ncm6  img{ padding:0; }
[id="_2384730058_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2384730058_1541704310"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a24458f9 { border:0;border-style:solid; }
[name="Container_5c052a2445a60"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2445a60"] { width:100%;padding:0; }
[id="_947717629_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_947717629_1542840691"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a2445f8b { border:0;border-style:solid; }
[id="_1658855635_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1658855635_1542840691"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv04nfp9 { border:0; }
#ResponsiveImage-fxtv04nfp9 > img { border-style:solid; }
#ResponsiveImage-fxtv04nfp9  img{ padding:0; }

 .center { float:none;margin-left:auto;margin-right:auto; }
/*
     FILE ARCHIVED ON 15:05:44 Dec 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:28:50 May 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.744
  exclusion.robots: 0.041
  exclusion.robots.policy: 0.025
  esindex: 0.015
  cdx.remote: 7.247
  LoadShardBlock: 187.844 (3)
  PetaboxLoader3.datanode: 178.935 (4)
  PetaboxLoader3.resolve: 87.731 (2)
  load_resource: 93.497
*/