@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}





@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway;background-repeat:repeat;background-position:center center; }
#page_5c052a2703311 { padding:0; }
#Header-fxtv06k25v { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2754011"] { background:RGBA(206, 22, 29, 1);border:0;border-style:solid; }
[name="Container_5c052a2754011"] { width:100%;padding:0; }
[name="Container_5c052a2754248"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_5c052a2754248"] { clear:both; }
#text_5c052a27544f1 { border:0;border-style:solid;padding-top:10px !important; }
#text_5c052a27546cc { border:0;border-style:solid;padding-top:10px !important; }
[name="Container_5c052a2754805"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2754805"] { width:100%;padding:0; }
[name="Container_5c052a2754a0d"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2754a0d"] { padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a2754a0d"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[name="Container_5c052a2754a0d"] { clear:both; }
#ResponsiveImage-fxtv06k4yk { border:0; }
#ResponsiveImage-fxtv06k4yk > img { border-style:solid; }
#ResponsiveImage-fxtv06k4yk { padding-top:5px !important;padding-bottom:5px !important; }
#ResponsiveImage-fxtv06k4yk  img{ padding:0; }
#ResponsiveImage-fxtv06k5d3 { border:0; }
#ResponsiveImage-fxtv06k5d3 > img { border-style:solid; }
#ResponsiveImage-fxtv06k5d3  img{ padding:0; }
[id="_2262109185_1541693961"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_2262109185_1541693961"] { margin-top:-55px !important; }
 }
@media screen  and (min-width: 768px){ #menu_5c052a27552e6  ul.navbar-nav{ width:100%;text-align:right; }
#menu_5c052a27552e6  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu_5c052a27552e6  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_183017512_1541693961"]  .menu_item{ width:auto; }
 }
[id="_183017512_1541693961"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_183017512_1541693961"] .navbar { clear:both; }
#menu_5c052a27552e6  > ul{ width:100%; }
nav[id="_183017512_1541693961"].navbar  .container{ background-image:transparent !important; }
nav[id="_183017512_1541693961"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_183017512_1541693961"] .navbar { position:initial; }
[id="menuitem_5c052a27554bb"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a27554bb"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a27554bb"]:hover > a.menu_item, [id="menuitem_5c052a27554bb"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a275568d"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a275568d"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a275568d"]:hover > a.menu_item, [id="menuitem_5c052a275568d"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a2755863"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2755863"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2755863"]:hover > a.menu_item, [id="menuitem_5c052a2755863"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_5c052a2755a41"] a { border-top-right-radius:20px !important;border-top-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755a41"] { margin-top:20px;border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755a41"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2755a41"]:hover > a.menu_item, [id="menuitem_5c052a2755a41"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2755c12"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755c12"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755c12"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2755c12"]:hover > a.menu_item, [id="menuitem_5c052a2755c12"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2755df1"] a { background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755df1"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755df1"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2755df1"]:hover > a.menu_item, [id="menuitem_5c052a2755df1"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2755fc3"] a { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755fc3"] { border-bottom-right-radius:20px !important;border-bottom-left-radius:20px !important;border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[id="menuitem_5c052a2755fc3"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2755fc3"]:hover > a.menu_item, [id="menuitem_5c052a2755fc3"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2756198"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2756198"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2756198"]:hover > a.menu_item, [id="menuitem_5c052a2756198"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
[id="menuitem_5c052a2756365"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_5c052a2756365"]:hover { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) !important; }
[id="menuitem_5c052a2756365"]:hover > a.menu_item, [id="menuitem_5c052a2756365"] > a.menu_item:focus { background-image : linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="_5889262257_1541693976"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
.menu { id-filho:5406335;id-pai:5406328; }
.menu_item:hover{ id-filho:5406336;id-pai:5406328;color:rgba(163, 24, 0, 1)!important;background-image : linear-gradient(rgba(0, 193, 222, 1),rgba(0, 193, 222, 1)); }
.menu_item.focus{ id-filho:5406337;id-pai:5406328; }
.menu  li + li{ id-filho:5406338;id-pai:5406328; }
.menu_item { id-filho:5406339;id-pai:5406328;color:rgba(89, 89, 89, 1)!important;font-size:17px;text-align:left;padding-left:20px !important;padding-right:20px !important; }
#GridPanel_5c052a275744c { padding:0; }
[name="Container_5c052a275767d"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a275767d"] { width:100%;padding:0; }
[id="_3677815850_1542987685"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a2757ad7"] { background:url("../images/capa-servicos.jpg");background-size:cover;background-attachment:fixed;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a2757ad7"] { width:100%;padding:0; }
[id="_1371876147_1542987685"] { background:rgba(255, 255, 255, 0.49);border:0;border-style:solid;padding-top:150px !important;padding-bottom:100px !important; }
@media screen and (min-width: 992px) { [id="_1371876147_1542987685"] { padding-top:150px !important;padding-bottom:100px !important; }
 }
#text_5c052a2757fcd { border:0;border-style:solid; }
[id="_8105745048_1542987685"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a27583d3 { border:0;border-style:solid; }
[name="Container_5c052a275895c"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_5c052a275895c"] { width:100%;padding:0; }
[id="_6876719288_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_6876719288_1542987741"] { padding-top:20px !important;padding-right:10px !important;padding-bottom:20px !important;padding-left:10px !important; }
 }
[id="_8297202107_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important; }
@media screen and (min-width: 992px) { [id="_8297202107_1542987741"] { padding-top:30px !important; }
 }
#text_5c052a275f35e { border:0;border-style:solid; }
[id="_7007813787_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_7007813787_1542987741"] { padding-bottom:30px !important; }
 }
#text_5c052a275fb97 { border:0;border-style:solid; }
[id="_525674122_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:75px !important; }
@media screen and (min-width: 992px) { [id="_525674122_1542987741"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:75px !important;padding-left:10px !important; }
 }
[id="_7921433792_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a276021c { border:0;border-style:solid; }
[id="_184809428_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:120px !important; }
@media screen and (max-width: 767px) { [id="_184809428_1542987741"] { padding-left:30px !important; }
 }
@media screen and (min-width: 992px) { [id="_184809428_1542987741"] { padding-left:120px !important; }
 }
#text_5c052a2760cb9 { border:0;border-style:solid; }
#text_5c052a2760e95 { border:0;border-style:solid; }
#text_5c052a2761077 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a276126a { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2761469 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a276165a { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2761859 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2761a71 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2761c5c { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2761e39 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2762014 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2762209 { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2762432 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a276261e { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a276280f { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2762a0c { border:0;border-style:solid;padding-left:160px !important; }
#text_5c052a2762c10 { border:0;border-style:solid;padding-left:120px !important; }
#text_5c052a2762e28 { border:0;border-style:solid;padding-left:160px !important; }
[id="_1429795074_1543493634"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-left:120px !important; }
@media screen and (max-width: 767px) { [id="_1429795074_1543493634"] { padding-left:30px !important; }
 }
@media screen and (min-width: 992px) { [id="_1429795074_1543493634"] { padding-left:120px !important; }
 }
#text_5c052a2763298 { border:0;border-style:solid; }
#text_5c052a27634a1 { border:0;border-style:solid; }
#text_5c052a2763680 { border:0;border-style:solid; }
#text_5c052a2763859 { border:0;border-style:solid; }
#text_5c052a2763a31 { border:0;border-style:solid; }
#text_5c052a2763c0d { border:0;border-style:solid; }
#text_5c052a2763de4 { border:0;border-style:solid; }
#text_5c052a2763fbd { border:0;border-style:solid; }
#text_5c052a2764197 { border:0;border-style:solid; }
#text_5c052a2764377 { border:0;border-style:solid; }
#text_5c052a276458b { border:0;border-style:solid; }
#text_5c052a276477a { border:0;border-style:solid; }
#text_5c052a276498a { border:0;border-style:solid; }
#text_5c052a2764b7c { border:0;border-style:solid; }
#text_5c052a2764d66 { border:0;border-style:solid; }
#text_5c052a2764f45 { border:0;border-style:solid; }
#text_5c052a2765125 { border:0;border-style:solid; }
#text_5c052a2765306 { border:0;border-style:solid; }
[id="_1115287897_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:85px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_1115287897_1542987741"] { padding-top:85px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_3016482022_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a27659c3 { border:0;border-style:solid; }
[id="_1439934121_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2766420 { border:0;border-style:solid;padding-left:60px !important; }
[id="_505920213_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:30px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_505920213_1542987741"] { padding-top:30px !important;padding-right:10px !important;padding-bottom:30px !important;padding-left:10px !important; }
 }
[id="_242581326_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2766a9f { border:0;border-style:solid; }
[id="_5217113242_1542987741"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a27675a6 { border:0;border-style:solid;padding-left:60px !important; }
#footer_5c052a27677a2 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_5c052a27678d2"] { background:url("../images/fundo-cta.jpg");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_5c052a27678d2"] { padding-top:20px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_5c052a27678d2"] { padding-top:20px !important;padding-bottom:10px !important; }
 }
[name="Container_5c052a27678d2"] { width:100%;padding:0; }
[id="_1478699059_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-bottom:20px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_1478699059_1541703995"] { margin-bottom:20px !important; }
 }
#ResponsiveImage-fxtv06ltg6 { border:0; }
#ResponsiveImage-fxtv06ltg6 > img { border-style:solid; }
#ResponsiveImage-fxtv06ltg6  img{ padding:0; }
[id="_2217923555_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2768336 { border:0;border-style:solid; }
[id="_5be5b804ce63c_1541781508"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_72597012_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a276891f { border:0;border-style:solid; }
#text_5c052a2768cb3 { border:0;border-style:solid; }
[id="_7214252092_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a276908a { border:0;border-style:solid; }
[id="_5352909127_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2769466 { border:0;border-style:solid; }
#text_5c052a276962f { border:0;border-style:solid; }
[id="_4424119216_1541703995"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_5c052a2769a06 { border:0;border-style:solid; }
[id="_3782013519_1541703995"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid;height:2px; }
#text_5c052a2769df3 { border:0;border-style:solid; }
[name="Container_5c052a2769f16"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a2769f16"] { width:100%;padding:0; }
[id="_1456281060_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1456281060_1541704310"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv06m0rh { border:0; }
#ResponsiveImage-fxtv06m0rh > img { border-style:solid; }
#ResponsiveImage-fxtv06m0rh  img{ padding:0; }
[id="_2384730058_1541704310"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2384730058_1541704310"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a276a821 { border:0;border-style:solid; }
[name="Container_5c052a276a94b"] { background:rgba(45, 45, 45, 1);border:0;border-style:solid; }
[name="Container_5c052a276a94b"] { width:100%;padding:0; }
[id="_947717629_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_947717629_1542840691"] { padding-top:15px !important;padding-bottom:5px !important; }
 }
#text_5c052a276adf2 { border:0;border-style:solid; }
[id="_1658855635_1542840691"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1658855635_1542840691"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-fxtv06m3hp { border:0; }
#ResponsiveImage-fxtv06m3hp > img { border-style:solid; }
#ResponsiveImage-fxtv06m3hp  img{ padding:0; }

 .center { float:none;margin-left:auto;margin-right:auto; }
/*
     FILE ARCHIVED ON 15:06:15 Dec 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:45:50 May 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.76
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.024
  esindex: 0.013
  cdx.remote: 1142.335
  LoadShardBlock: 121.858 (3)
  PetaboxLoader3.datanode: 165.174 (4)
  PetaboxLoader3.resolve: 146.877 (2)
  load_resource: 213.971
*/